<section class="hero is-large is-info" style="background-image: url('https://hdsports.cl/wp-content/uploads/2018/05/fareescalada1.jpg')">
  <div class="hero-body">
    <p class="title">
      ¡Bienvenidos a LuMi!
    </p>
    <p class="subtitle">
      Plataforma creada para que escaladores puedan mostrar sus rutas finalizadas
    </p>
  </div>
</section>