<p style="color: green"><%= notice %></p>

<h1>Routes asdasd</h1>
<%= Rails.env%>

<div class="container has-text-centered"> 
  <div id="routes">
    <%= render "form", route: @route%>
  </div>
 <br>
  <div id="routes" class="columns mt-5 is-8 is-variable">
    <% @routes.each do |route| %>
      <%= render route %>
    <% end %>
  </div>
    

</div>

<%#= link_to "New route", new_route_path %>


